{% autoescape true %}
<div class="postform">
  <h3></h3>
  <form action="/post/commit" method="post">
    <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
    <div class="form-group {% if error_list.nickname %}has-error{% endif %}">
      <label>ニックネーム<em>(半角英数16文字まで)</em></label><br>
      <input type="text" name="nickname" value="{{ params.nickname }}" class="form-control" placeholder="ニックネームを入力してください">
      <p class="text-warning">{{error_list.nickname}}</p>
    </div>

    <div class="form-group {% if error_list.body %}has-error{% endif %}">
      <label>テキスト<em>(1000文字まで)</em></label><br>
      <textarea class="form-control" name="body" placeholder="本文を入力してください">{{ params.body }}</textarea>
      <p class="text-warning">{{error_list.body}}</p>
    </div>

    <button type="submit" class="btn btn-primary btn-block">投稿する</button>
  </form>
</div>
{% endautoescape %}